body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    background-color: aquamarine;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}

.helm {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.cele {
    background-color: #ffffff;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}
p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1.5px;
  font-size: 37px;
  text-align: center;
}

.cele h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.cele ul {
    list-style-type: circle;
    padding-left: 20px;
    font-size: 18px;
}

.cele li {
    margin-bottom: 10px;
}
