body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    background-color: aquamarine;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}

.helm {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
